.footer{
    // background-color: #112240;
    & .footerLogo{
        & .logo{
            width: 200px;
            height: 51px;
        }
    }
    & .heading {
        font-size: 18px;
        line-height: 29px;
    }
    & .loctionIcon{
        & .icon{
            
        }
        & .text{
            font-size: 14px;
        }
    }
    & .footerLink{
        & ul{
            & li{
                & .text{
                    // font-size: 14px;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 10px;
                        left: 0px;
                        top: 50%;
                        height: 2px;
                        background-color:$theme3 !important;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                    &::before{
                        opacity: 1;
                    }
                        padding-left: 12px;
                        background-color: transparent;
                        color: $theme3 !important;
                    }
                }
            }
        }
    }
    & .socialIcon{
       & ul{
        & li{
            & a{
                width: 40px;
                height: 40px;
                position: relative;
                padding: 11px;
                transition: all 0.3s ease-in-out;
                &:after{
                    position: absolute;
                    content: '';
                    width:40px;
                    height: 40px;
                    border: 2px dotted $theme1;
                    border-radius: 50%;
                    animation: rotate 15s linear infinite;
                    transition: 0.3s ease-in-out;
                    opacity: 1;
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
        
                    25% {
                        transform: rotate(90deg);
                    }
        
                    50% {
                        transform: rotate(180deg);
                    }
        
                    75% {
                        transform: rotate(270deg);
                    }
        
                    100% {
                        transform: rotate(360deg);
                    }
        
                }
                &:hover{
                   transform: scale(0.9);

                }
            }
         }

          }
    }
    & .input-group{
        & .input-group-text{
            width: 45px !important;
            height: 40px !important;
         
        }
    }

}

// Small devices (landscape phones, 576px and up)
@mixin footer-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin footer-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin footer-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin footer-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin footer-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin footer-mixin-max-xl() {
    .footer{
       
        & .footerLogo{
            & .logo{
             
            }
        }
        & .heading {
        
        }
        & .loctionIcon{
            & .icon{
                
            }
            & .text{
             
            }
        }
        & .footerLink{
            & ul{
                & li{
                    & .text{
              
                        &::before{
                           
                         
                        }
                        &:hover{
                        &::before{
                          
                        }
                        
                        }
                    }
                }
            }
        }
        & .socialIcon{
           & ul{
            & li{
                & a{
                 
                    &:after{
                 
                    }
                
                    &:hover{
                  
                        &::after{
                        
                        }
                    }
                }
             }
    
              }
        }
    
    }
}
// Large devices (desktops, less than 1200px)
@mixin footer-mixin-max-lg() {
    .footer{
       
        & .footerLogo{
            & .logo{
             
            }
        }
        & .heading {
        
        }
        & .loctionIcon{
            & .icon{
                
            }
            & .text{
             
            }
        }
        & .footerLink{
            & ul{
                & li{
                    & .text{
              
                        &::before{
                           
                         
                        }
                        &:hover{
                        &::before{
                          
                        }
                        
                        }
                    }
                }
            }
        }
        & .socialIcon{
           & ul{
            & li{
                & a{
                 
                    &:after{
                 
                    }
                
                    &:hover{
                  
                        &::after{
                        
                        }
                    }
                }
             }
    
              }
        }
    
    }
}
// Medium devices (tablets, less than 992px)
@mixin footer-mixin-max-md() {
    .footer{
       
        & .footerLogo{
            & .logo{
                width: 153px;
                height: auto;
            }
        }
        & .heading {
        
        }
        & .loctionIcon{
            & .icon{
                
            }
            & .text{
             
            }
        }
        & .footerLink{
            & ul{
                & li{
                    & .text{
              
                        &::before{
                           
                         
                        }
                        &:hover{
                        &::before{
                          
                        }
                        
                        }
                    }
                }
            }
        }
        & .socialIcon{
           & ul{
            & li{
                & a{
                 
                    &:after{
                 
                    }
                
                    &:hover{
                  
                        &::after{
                        
                        }
                    }
                }
             }
    
              }
        }
    
    }
}
// Small devices (landscape phones, less than 768px)
@mixin footer-mixin-max-sm() {
    .footer{
       
        & .footerLogo{
            & .logo{
             
            }
        }
        & .heading {
            font-size: 16px;
            line-height: 24px;
        }
        & .loctionIcon{
            & .icon{
                
            }
            & .text{
             
            }
        }
        & .footerLink{
            & ul{
                & li{
                    & .text{
                        font-size:14px;
                        &::before{
                           
                         
                        }
                        &:hover{
                        &::before{
                          
                        }
                        
                        }
                    }
                }
            }
        }
        & .socialIcon{
           & ul{
            & li{
                & a{
                 
                    &:after{
                 
                    }
                
                    &:hover{
                  
                        &::after{
                        
                        }
                    }
                }
             }
    
              }
        }
    
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin footer-mixin-max-xs() {
    .footer{
       
        & .footerLogo{
            & .logo{
             
            }
        }
        & .heading {
        
        }
        & .loctionIcon{
            & .icon{
                
            }
            & .text{
             
            }
        }
        & .footerLink{
            & ul{
                & li{
                    & .text{
              
                        &::before{
                           
                         
                        }
                        &:hover{
                        &::before{
                          
                        }
                        
                        }
                    }
                }
            }
        }
        & .socialIcon{
           & ul{ margin-bottom: 0;
            & li{
                & a{
                    width: 35px;
                    height: 35px;
                    &:after{
                        width: 35px;
                        height: 35px;
                    }
                
                    &:hover{
                  
                        &::after{
                        
                        }
                    }
                }
             }
    
              }
        }
    
    }
}


// copyRight 

.copyRight{
    & .text{
        font-size: 13px;
    }
}