 .pageHeading{
    font-size: 55px;
    line-height: 65px;
    position: relative;
    &::before{
            position: absolute;
            content: "";
            bottom: -29px;
            width: 200px;
            left:50%; 
            height: 3px;
            background-color: $theme3;
            transform: translateX(-50%);
            z-index: 4;
          
    }
    &::after{
        position:absolute;
        width:40px;
        height:40px;
        left:50%;
        transform: translateX(-50%);
        bottom:-45px;
        content: '\00a7'; 
        font-size:30px; 
        line-height:40px;
        color:$theme3;
        font-weight:400;
         z-index: 5;
        display:block;
        background-color:#f8f8f8;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin pageHeading-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin pageHeading-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin pageHeading-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin pageHeading-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin pageHeading-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin pageHeading-mixin-max-xl() {
    .pageHeading{
    
        &::before{
          
              
        }
        &::after{
       
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin pageHeading-mixin-max-lg() {
    .pageHeading{
        font-size: 50px;
        line-height: 60px;
        &::before{
          
              
        }
        &::after{
       
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin pageHeading-mixin-max-md() {
    .pageHeading{
        font-size: 40px;
        line-height: 48px;
        &::before{
            width: 162px;
        }
        &::after{
       
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin pageHeading-mixin-max-sm() {
    .pageHeading{
        font-size: 35px;
        line-height: 42px;
        &::before{
          
              
        }
        &::after{
       
        }
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin pageHeading-mixin-max-xs() {
    .pageHeading{
        font-size: 26px;
        line-height: 33px;
        &::before{
          
              
        }
        &::after{
       
        }
    }
    
}